<div class="container">
  <h1 class="display-4 text-center mt-5">Welcome to the Chat Room</h1>
  <form class="w-50 mx-auto">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Username:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>